{% extends "hidden_stuff_layout.html" %}
{% block head %}
<script>
        var inactivate_url = '{{url_for('admin.inactivate_a_node', node_id=123456789)}}';

            $(function() {

                $(function() {
                var baseEditUtteranceUrl = '{{url_for("admin.correct_spelling", utterance_id=999999999999999999, _external=True)}}';
                $('.edit_msg_pen').click(function(e){
                    e.preventDefault();
                    $('#update-utterance-text').show();
                    var utterance_id = $(this).data('utterance-id');
                    $('.modal-body iframe').attr("src", "about:blank");

                    $('#myModal').on('show.bs.modal', function () {
                        $('.modal-body iframe').attr("src", baseEditUtteranceUrl.replace('999999999999999999', utterance_id));

                        $('#update-utterance-text').on('click', function() {
                            $('.modal-body iframe').contents().find("form").trigger('submit');
                            $('#update-utterance-text').hide();
                        })


                    });
                    $('#myModal').on('hidden.bs.modal', function () {
                        $('.modal-body iframe').attr("src", "about:blank");
                    });
                    $('#myModal').modal({show:true})
                });

           })


                $('.kill-node').on('click', function() {
                    var the_row = $(this).parents('tr');

                    if (confirm('are you sure?')) {
                        $.ajax({
                            url: inactivate_url.replace('123456789', $(this).data('node-id')),
                            type: 'DELETE',
                            success: function(result) {
                                the_row.remove()
                            },
                            error: function() {
                                alert('something went wrong. please reload the page.')
                            }
                        });

                    }
                });


                function search(value) {
                value = value.replace(/^\s+|\s+$/g, '').toLowerCase().split(' ');
                $("table tr").each(function(index) {
                    if (index !== 0) {

                        $row = $(this);

                        var id = $row.find("td:nth-child(2)").text().replace(/^\s+|\s+$/g, '') + ' ' + $row.find("td:nth-child(3)").text().replace(/^\s+|\s+$/g, '').toLowerCase();

                        var not_found = false;
                        for (a in value) {
                            if (id.indexOf(value[a]) === -1) {
                                not_found = true

                            }

                        }
                        if (not_found) {
                        $row.hide();
                        }else {
                                $row.show();
                            }

                    }
                });
                }

                if ($("#search").val() != '') {
                    search($("#search").val())
                }


                $("#search").on("keyup", function() {
                    search($(this).val())

            });

            });

            Mousetrap.bind('/', function(e) {
                $('#search').focus().select()
            });


        </script>
<style>
    .edit_msg_pen {margin-top: -5px; opacity: 0.5}
    .edit_msg_pen:hover { opacity: 1}
</style>
{% endblock %}
{% block content %}



<div class="modal" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe src="" style="zoom:0.60" width="99.6%" height="250" frameborder="0"></iframe>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="update-utterance-text">save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


    <div class="container-fluid">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url_for('admin.get_tree_v3', node_id=None)}}">Roots</a></li>
              {% for parent in parents %}

                    {%if not loop.last %}
                        <li class="breadcrumb-item"><a href="{{url_for('admin.get_tree_v3', node_id=parent.id)}}">{{parent.utterances[0].utterance_text}}</a></li>
                    {% else %}
                        <li class="breadcrumb-item active">{{parent.utterances[0].utterance_text}}</li>
                    {% endif %}



              {% endfor %}
          </ol>
        </nav>
        <input type="text" id="search" class="form-control sticky-top" placeholder="/ to search" />

        <table id="the-table" class="table table-compact mt-3 table-hover">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Node</th>
                    <th style="min-width: 150px;">Child count</th>
                    <th style="min-width: 150px;">Visited count</th>
                </tr>
            </thead>
            <tbody>
            {% for node in nodes %}
                <tr {% if node.is_incoherent %}class="table-danger"{% endif%}>
                    <td style="vertical-align: middle;"><span class="kill-node" data-node-id="{{node.id}}" style="cursor: pointer; color: blue">[kill]</span></td>
                    <td class="{%if node.is_anonymous%}table-info{%endif%}"><a href="{{url_for('admin.get_tree_v3', node_id=node.id)}}">{{node.id}}</a></td>
                    <td>


                        {% for node_utterance in node.node_utterances %}

                            {% if node_utterance.incoherent_node_utterance_statuses %} <u>{% endif %}
                            {% if node_utterance.corrected %} <s>{% endif %}
                            {% if node.active_child_count > 0 %}<a href="{{url_for('admin.get_tree_v3', node_id=node.id)}}">{% endif %}<span {%if node_utterance.utterance.amazon_anonymous%}class="font-weight-bold"{%endif%}>{{ node_utterance.utterance.utterance_text }}</span> {% if node_utterance.incoherent_node_utterance_statuses %} ({{node_utterance.incoherent_node_utterance_statuses|length}}){% endif %}{% if node.child_count > 0 %}</a>{% endif %}
                            <a href="#" data-utterance-id="{{ node_utterance.utterance.id }}" class="edit_msg_pen"><img src="/static/PNG/32/pen_1.png" width="15" height="15"></a>{% if not loop.last %} <span style="color: black">|</span> {% endif %}
                            {% if node_utterance.corrected %} </s>{% endif %}
                            {% if node_utterance.incoherent_node_utterance_statuses %} </u>{% endif %}
                        {% endfor %}
                    </td>
                    <td>{{node.active_child_count}}</td>
                    <td>{{node.visited_count}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<script>
        new Tablesort(document.getElementById('the-table'));
      </script>
{% endblock %}
